<div x-mojo-element="Spinner" id="small-spinner" class="spinner"></div>

<div class="palm-page-header fixed">
  <div class="palm-page-header-wrapper">
    <div id="header" class="center truncating-text">Feeder</div>
    <div id="refresh" class="my-right-icon"></div>
    <div id="error-header" class="my-right-icon" style="display: none"></div>
  </div>
</div>
<div class="palm-menu-spacer"></div>

<div id="sticky-sources" x-mojo-element="List"></div>
<div id="subscription-sources" x-mojo-element="List"></div>
