<div class="palm-page-header multi-line article">
  <div class="palm-page-header-wrapper">
    <div id="header">
      <table>
        <tr>
          <td id="article-info">
            <div id="title" class="unread"></div>
            <div id="author"></div>
          </td>
          <td id="right-arrow"></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div id="summary" class="palm-info-text"></div>

<div class="palm-menu-spacer">
  <div id="footer">
    <table>
      <tr>
        <td id="previous-article"></td>
        <td id="starred"></td>
        <td id="shared"></td>
        <td id="read"></td>
        <td id="sendto"></td>
        <td id="next-article"></td>
      </tr>
    </table>
  <div>
</div>
