<div class="palm-page-header fixed">
  <div class="palm-page-header-wrapper">
    <div id="header" class="center truncating-text">Preferences</div>
  </div>
</div>
<div class="palm-menu-spacer"></div>

<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc=''>Feeds</div>
  <div class="palm-list">
    <div class="palm-row single" x-mojo-tap-highlight="momentary">
    	<div class="palm-row-wrapper">
        <div x-mojo-element="CheckBox" class="left" id="hide-read"></div>
        <div class="title">Hide read feeds</div>
    	</div>
    </div>
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc=''>Articles</div>
  <div class="palm-list">
    <div class="palm-row single" x-mojo-tap-highlight="momentary">
    	<div class="palm-row-wrapper">
    		<div id="article-sort" x-mojo-element="ListSelector"></div>
    	</div>
    </div>
  </div>
</div>
