<div class="palm-page-header fixed">
  <div class="palm-page-header-wrapper">
    <div id="go-back" class="my-left-icon"></div>
    <!-- <div id="lefties" class="my-left-icon"></div>-->
    <div id="header" class="center truncating-text"></div>
  </div>
</div>
<div class="palm-menu-spacer"></div>

<div class="preferences">
  <div class="palm-group">
    <div id="general-label" class="palm-group-title" x-mojo-loc=''></div>
    <div class="palm-list">
      <div class="palm-row first">
        <div class="palm-row-wrapper">
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td><div id="landscape-label" class="title"></div></td>
              <td class="check"><div x-mojo-element="CheckBox" class="right" id="allow-landscape"></div></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="palm-row">
        <div class="palm-row-wrapper">
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td><div id="gesture-scrolling-label" class="left title"></div></td>
              <td class="check"><div x-mojo-element="CheckBox" class="right" id="gesture-scrolling"></div></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="palm-row last">
        <div class="palm-row-wrapper">
          <div id="theme" x-mojo-element="ListSelector"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div id="feeds-label" class="palm-group-title" x-mojo-loc=''></div>
    <div class="palm-list">
      <div class="palm-row first">
        <div class="palm-row-wrapper">
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td><div id="hide-read-feeds-label" class="left title"></div></td>
              <td class="check"><div x-mojo-element="CheckBox" class="right" id="hide-read-feeds"></div></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="palm-row">
        <div class="palm-row-wrapper">
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td><div id="back-after-mark-read-label" class="left title"></div></td>
              <td class="check"><div x-mojo-element="CheckBox" class="right" id="back-after-mark-read"></div></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="palm-row last">
        <div class="palm-row-wrapper">
          <div id="feed-sort" x-mojo-element="ListSelector"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div id="articles-label" class="palm-group-title" x-mojo-loc=''></div>
    <div class="palm-list">
      <div class="palm-row first">
        <div class="palm-row-wrapper">
          <div id="article-sort" x-mojo-element="ListSelector"></div>
        </div>
      </div>
      <div class="palm-row">
        <div class="palm-row-wrapper">
          <div id="font-size" x-mojo-element="ListSelector"></div>
        </div>
      </div>
      <div class="palm-row">
        <div class="palm-row-wrapper">
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td><div id="hide-read-articles-label" class="left title"></div></td>
              <td class="check"><div x-mojo-element="CheckBox" class="right" id="hide-read-articles"></div></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="palm-row last">
        <div class="palm-row-wrapper">
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td><div id="mark-read-scroll-label" class="left title"></div></td>
              <td class="check"><div x-mojo-element="CheckBox" class="right" id="mark-read-scroll"></div></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div id="folders-label" class="palm-group-title" x-mojo-loc=''>Folders</div>
    <div class="palm-list">
      <div class="palm-row single">
        <div class="palm-row-wrapper">
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td><div id="combine-articles-label" class="left title"></div></td>
              <td class="check"><div x-mojo-element="CheckBox" class="right" id="combine-folders"></div></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div id="sharing-label" class="palm-group-title" x-mojo-loc=''>Sharing</div>
    <div class="palm-list">
      <div class="palm-row single">
        <div class="palm-row-wrapper">
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td><div id="shorten-urls-label" class="left title"></div></td>
              <td class="check"><div x-mojo-element="CheckBox" class="right" id="shorten-urls"></div></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div id="notifications-label" class="palm-group-title" x-mojo-loc=''>Notifications</div>
    <div class="palm-list">
      <div id="notifications-row" class="palm-row first last">
        <div class="palm-row-wrapper">
          <div id="notification-interval" x-mojo-element="ListSelector"></div>
        </div>
      </div>
      <div id="notification-feeds-row" class="palm-row" style="display: none;">
        <div class="palm-row-wrapper">
          <div id="notification-feeds" x-mojo-element="ListSelector"></div>
        </div>
      </div>
      <div id="notification-feed-selection-row" class="palm-row" style="display: none;">
        <div class="palm-row-wrapper">
          <div x-mojo-element="Button" id="notification-feed-selection"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div id="feedly-label" class="palm-group-title" x-mojo-loc=''>Feedly Options</div>
    <div class="palm-list">
      <div class="palm-row single">
        <div class="palm-row-wrapper">
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td><div id="feedly-sort-engagement-label" class="left title"></div></td>
              <td class="check"><div x-mojo-element="CheckBox" class="right" id="feedly-sort-engagement"></div></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="palm-group">
    <div id="debug-label" class="palm-group-title" x-mojo-loc=''>DEBUG</div>
    <div class="palm-list">
      <div class="palm-row single">
        <div class="palm-row-wrapper">
          <div id="debug-log-label" class="left title"></div>
          <div x-mojo-element="CheckBox" class="right" id="debug"></div>
        </div>
      </div>
    </div>
  </div> -->
</div>
