<div class="palm-page-header fixed">
  <div class="palm-page-header-wrapper">
    <div id="header" class="center truncating-text"></div>
  </div>
</div>
<div class="palm-menu-spacer"></div>

<div class="preferences">
  <div class="palm-group">
    <div id="general-label" class="palm-group-title" x-mojo-loc=''></div>
    <div class="palm-list">
      <div class="palm-row first">
      	<div class="palm-row-wrapper">
          <div id="landscape-label" class="left title"></div>
          <div x-mojo-element="CheckBox" class="right" id="allow-landscape"></div>
      	</div>
      </div>
      <div class="palm-row last">
      	<div class="palm-row-wrapper">
      		<div id="theme" x-mojo-element="ListSelector"></div>
      	</div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div id="feeds-label" class="palm-group-title" x-mojo-loc=''></div>
    <div class="palm-list">
      <div class="palm-row first">
      	<div class="palm-row-wrapper">
          <div id="hide-read-feeds-label" class="left title"></div>
          <div x-mojo-element="CheckBox" class="right" id="hide-read-feeds"></div>
      	</div>
      </div>
      <div class="palm-row">
      	<div class="palm-row-wrapper">
          <div id="back-after-mark-read-label" class="left title"></div>
          <div x-mojo-element="CheckBox" class="right" id="back-after-mark-read"></div>
      	</div>
      </div>
      <div class="palm-row last">
      	<div class="palm-row-wrapper">
      		<div id="feed-sort" x-mojo-element="ListSelector"></div>
      	</div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div id="articles-label" class="palm-group-title" x-mojo-loc=''></div>
    <div class="palm-list">
      <div class="palm-row first">
      	<div class="palm-row-wrapper">
      		<div id="article-sort" x-mojo-element="ListSelector"></div>
      	</div>
      </div>
      <div class="palm-row">
      	<div class="palm-row-wrapper">
      		<div id="font-size" x-mojo-element="ListSelector"></div>
      	</div>
      </div>
      <div class="palm-row">
      	<div class="palm-row-wrapper">
          <div id="hide-read-articles-label" class="left title"></div>
          <div x-mojo-element="CheckBox" class="right" id="hide-read-articles"></div>
      	</div>
      </div>
      <div class="palm-row last">
      	<div class="palm-row-wrapper">
          <div id="mark-read-scroll-label" class="left title"></div>
          <div x-mojo-element="CheckBox" class="right" id="mark-read-scroll"></div>
      	</div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div id="folders-label" class="palm-group-title" x-mojo-loc=''>Folders</div>
    <div class="palm-list">
      <div class="palm-row single">
      	<div class="palm-row-wrapper">
          <div id="combine-articles-label" class="left title"></div>
          <div x-mojo-element="CheckBox" class="right" id="combine-folders"></div>
      	</div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div id="debug-label" class="palm-group-title" x-mojo-loc=''>DEBUG</div>
    <div class="palm-list">
      <div class="palm-row single">
      	<div class="palm-row-wrapper">
          <div id="debug-log-label" class="left title"></div>
          <div x-mojo-element="CheckBox" class="right" id="debug"></div>
      	</div>
      </div>
    </div>
  </div>
</div>