@media (max-device-width: 700px) {
  #go-back {
    display: none;
  }

  #footer table td {
    width: 20%;
  }
}

body.theme-dark {
  background-color: #444 !important;
  color: white !important;
}

.theme-dark a{
  color: white !important;
}

body.theme-grey {
  background-color: #e6e3de !important;
}

body.theme-light {
  background-color: white !important;
  color: black !important;
}

.no-items {
  padding: 15px;
}

.highlight {
  background-color: #FF7
}

/*
 * MENUBAR
 */
.view-menu.palm-menu {
  z-index: 19200;
}

.palm-menu-panel {
  z-index: 19100;
}

.palm-menu-panel .palm-menu-panel-wrapper {
  padding-top: 32px;
}

.palm-menu-panel .button {
   width: 50%;
   float: left;
 }

.preferences .left {
  float: left;
}

.preferences .right {
  float: right;
}

.preferences .title {
  font-size: 16px !important;
  line-height: 22px !important;
  padding-left: 13px !important;
  padding-right: 13px !important;
}

.preferences table {
  width: 100%;
  margin: 0;
  padding: 0;
}

.preferences tr, .preferences td {
  margin: 0;
  padding: 0;
}

.theme-dark .palm-popup-container {
  color: black;
}

.preferences .check {
  width: 32px;
}

.palm-drag-spacer .release {
  font-size: 14px;
  padding-left: 10px;
}

.clear {
  clear: both;
}

.hide-divider {
  display: none;
}

.palm-row {
  background-image: url(../images/list-separator.png);
}

.theme-dark .palm-divider.labeled .left {
  background: url(../images/divider-line-dark.png) no-repeat 100% 60%;
}

.theme-dark .palm-divider.labeled .right {
  background: url(../images/divider-line-dark.png) no-repeat 0% 60%;
}

.theme-light .palm-divider.labeled .left {
  background: url(../images/divider-line-light.png) no-repeat 100% 60%;
}

.theme-light .palm-divider.labeled .right {
  background: url(../images/divider-line-light.png) no-repeat 0% 60%;
}

.theme-grey .palm-divider.labeled .left {
  background: url(../images/divider-line.png) no-repeat 100% 60%;
}

.theme-grey .palm-divider.labeled .right {
  background: url(../images/divider-line.png) no-repeat 0% 60%;
}

.theme-grey .palm-divider .label {
  color: #999;
  text-transform: none;
}

.theme-dark .palm-divider .label {
  color: #EEE;
  text-transform: none;
}

.article #header {
  padding: 15px;
  font-size: 16px;
  border-bottom: 1px solid #444;
}

.theme-dark .article #header {
  color: white;
  background-color: #black;
}

.theme-grey .article #header {
  color: #666;
  background-color: #eeecea;
}

.theme-light .article #header {
  color: #222;
  background-color: white;
}

.theme-dark .article #title {
  color: white;
}

.theme-grey .article #title {
  color: #444;
}

.theme-light .article #title {
  color: black;
}

.article #author, .article #subscription {
  font-size: 14px;
}

.theme-dark .article #author, .theme-dark .article #subscription {
  color: #EEE;
}

.theme-grey .article #author, .theme-grey .article #subscription {
  color: #999;
}

.theme-light .article #author, .theme-light .article #subscription {
  color: #444;
}

#just-header-content {
  padding-right: 25px;
  position: relative;
}

.article #right-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: url(../images/rightarrow.png) right center no-repeat;
}

.palm-page-header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 19300;
}

.palm-page-header.fixed .center {
  text-align: center;
  color: #dbdbdb;
  font-weight: bold;
  font-size: 20px;
  padding: 13px 40px;
  background: url(../images/gradient.png) repeat-x;
}

.theme-light .palm-page-header.fixed .center {
  color: white;
}

.palm-page-header.fixed .full {
  padding: 13px;
}

.palm-page-header.fixed .my-right-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

.palm-page-header.fixed .my-left-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

body.lefty .palm-page-header.fixed .my-right-icon {
  left: 0;
  right: auto;
}

body.lefty .palm-page-header.fixed .my-left-icon {
  right: 0;
  left: auto;
}

body.lefty .palm-page-header.fixed #lefties {
  background: url(../images/smiley.png) no-repeat center;
  left: 0;
  right: auto;
}

.palm-page-header.fixed #refresh {
  background: url(../images/refresh.png) no-repeat center;
}

.palm-page-header.fixed #search-icon {
  background: url(../images/search.png) no-repeat center;
}

.palm-page-header.fixed #go-back {
  background: url(../images/go-back.png) no-repeat center;
}

.palm-row .rss {
  height: 50px;
  width: 30px;
  background: url(../images/rss-grey.png) center center no-repeat;
}

.palm-row .folder {
  height: 50px;
  width: 30px;
  background: url(../images/folder-grey.png) center center no-repeat;
}

.palm-row .star {
  height: 50px;
  width: 30px;
  background: url(../images/starred-grey.png) center center no-repeat;
}

.palm-row .shared {
  height: 50px;
  width: 30px;
  background: url(../images/shared-grey.png) center center no-repeat;
}

.palm-row .list {
  height: 50px;
  width: 30px;
  background: url(../images/list.png) center center no-repeat;
}

.palm-row .article {
  padding: 10px;
}

.article-title {
  font-size: 16px;
  color: #444;
}

.theme-dark .article-title {
  color: white;
}

.theme-light .article-title {
  color: black;
}

.article-origin {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
}

.theme-dark .article-origin {
  color: #EEE;
}

.theme-light .article-origin {
  color: #444;
}

.article-star {
  display: none;
  height: 27px;
  width: 20px;
  float: left;
  background: url(../images/starred-grey.png) no-repeat left bottom;
}

.starred .article-star {
  display: block;
}

.subscription-title, .subscription-count, .folder-title, .folder-count, .search-title {
  font-size: 16px;
  color: #444;
  margin: 0px 10px;
  padding: 0;
  line-height: 50px;
}

.theme-dark .subscription-title, .theme-dark .subscription-count, .theme-dark .folder-title, .theme-dark .folder-count, .search-title {
  color: white;
}

.theme-light .subscription-title, .theme-light .subscription-count, .theme-light .folder-title, .theme-light .folder-count, .search-title {
  color: black;
}

.subscription-title, .folder-title {
  float: left;
  width: 69%;
  margin-left: 5px;
}

.subscription-count, .folder-count {
  float: right;
  width: 45px;
  text-align: right;
  margin-left: 0;
}

.unread {
  font-weight: bold;
}

#small-spinner {
  position: fixed;
  z-index: 99999;
  top: 8px;
  right: 9px;
}

body.lefty #small-spinner {
  left: 9px;
  right: auto;
}

#footer .spinner {
  margin-left: 15px;
}

#footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background: url(../images/gradient.png) repeat-x;
}

#footer table {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#footer table td {
  padding: 0;
  margin: 0;
  width: 16%;
  height: 100%;
}

#footer #go-back {
  background: url(../images/go-back-footer.png) center center no-repeat;
}

#footer #previous-article {
  background: url(../images/previous-article.png) center center no-repeat;
}

#footer #next-article {
  background: url(../images/next-article.png) center center no-repeat;
}

#footer #next-article.working {
  background: none;
}

#footer #starred {
  background: url(../images/starred-footer.png) center center no-repeat;
}

#footer #starred.on {
  background: url(../images/starred-footer-on.png) center center no-repeat;
}

#footer #read {
  background: url(../images/read-footer.png) center center no-repeat;
}

#footer #read.on {
  background: url(../images/read-footer-on.png) center center no-repeat;
}

#footer #sendto {
  background: url(../images/sendto-footer.png) center center no-repeat;
}

#footer #shared {
  background: url(../images/shared-footer.png) center center no-repeat;
}

#footer #shared.on {
  background: url(../images/shared-footer-on.png) center center no-repeat;
}

#mark-all-read {
  background: url(../images/mark-all-read.png) no-repeat center;
}

#error-header {
  background: url(../images/error.png) no-repeat center;
}

#summary img {
  max-width: 290px !important;
  height: auto !important;
}

#summary {
  color: #333;
  margin: 10px;
  padding: 5px;
}

.theme-dark #summary {
  color: white;
}

.theme-light #summary {
  color: black;
}

#summary.small, #summary.small p {
  font-size: 15px !important;
  line-height: 18px !important;
}

#summary.medium, #summary.medium p {
  font-size: 17px !important;
  line-height: 21px !important;
}

#summary.large, #summary.large p {
  font-size: 21px !important;
  line-height: 25px !important;
}

#summary p {
  padding: 0 !important;
  padding-bottom: 15px !important;
}

.palm-swipe-container.swipe-right.swipe-read .palm-drag-spacer {
  background: #aaa url(../images/read-footer-on.png) no-repeat 5% center;
}

.palm-swipe-container.swipe-right.swipe-not-read .palm-drag-spacer {
  background: #aaa url(../images/read-footer.png) no-repeat 5% center;
}

.palm-swipe-container.swipe-left.swipe-starred .palm-drag-spacer {
  background: #aaa url(../images/starred-footer-on.png) no-repeat 95% center;
}

.palm-swipe-container.swipe-left.swipe-not-starred .palm-drag-spacer {
  background: #aaa url(../images/starred-footer.png) no-repeat 95% center;
}

div.youtube {
  position: relative;
  width: 288px;
  height: 216px;
  overflow: hidden;
}

div.youtube-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 288px;
  height: 216px;
  background: transparent url(../images/play.png) no-repeat center center;
}

img.youtube-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 288px;
  height: 216px;
}

.dashboard-icon-feedspider {
  background: url(../images/dashboard-icon-feedspider.png);
}
