body {
  background-color: #e6e3de !important;
}

.hide-divider {
  display: none;
}

.palm-row {
  background-image: url(../images/list-separator.png);
}

.palm-divider.labeled .left {
  background: url(../images/divider-line.png) no-repeat 100% 60%;
}

.palm-divider.labeled .right {
  background: url(../images/divider-line.png) no-repeat 0% 60%;
}

.palm-divider .label {
  color: #999;
  text-transform: none;
}



.article #header {
  background-color: #eeecea;
  color: #666;
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #444;
  min-height: 50px;
}

.article #author {
  font-size: 14px;
  color: #999;
  padding-top: 5px;
}

.palm-page-header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}

.palm-page-header.fixed .center {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 13px 40px;
  background: url(../images/gradient.png) repeat-x;
}

.palm-page-header.fixed .full {
  padding: 13px;
}

.palm-page-header.fixed .my-right-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

.palm-page-header.fixed .my-left-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

.palm-page-header.fixed #refresh {
  background: url(../images/refresh.png) no-repeat center;
}




.palm-row .rss {
  height: 50px;
  width: 30px;
  background: url(../images/rss-grey.png) center center no-repeat;
}

.palm-row .folder {
  height: 50px;
  width: 30px;
  background: url(../images/folder-grey.png) center center no-repeat;
}

.palm-row .star {
  height: 50px;
  width: 30px;
  background: url(../images/starred-grey.png) center center no-repeat;
}

.palm-row .list {
  height: 50px;
  width: 30px;
  background: url(../images/list.png) center center no-repeat;
}


.subscription-title, .subscription-count, .folder-title, .folder-count {
  font-size: 16px;
  color: #444;
  margin: 0px 10px;
  padding: 0;
  line-height: 50px;
}

.subscription-title, .folder-title {
  float: left;
  width: 210px;
  margin-left: 5px;
}

.subscription-count, .folder-count {
  float: right;
  width: 40px;
  text-align: right;
}

.unread {
  font-weight: bold;
}

#small-spinner {
  position: fixed;
  z-index: 99999;
  top: 8px;
  right: 9px;
}

#footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background: url(../images/gradient-bottom.png) repeat-x;
}

#footer table {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#footer table td {
  padding: 0;
  margin: 0;
  width: 25%;
  height: 100%;
}

#footer #starred {
  background: url(../images/starred-footer.png) center center no-repeat;
}

#footer #read {
  background: url(../images/read-footer.png) center center no-repeat;
}

#footer #sendto {
  background: url(../images/sendto-footer.png) center center no-repeat;
}

#footer #shared {
  background: url(../images/shared-footer.png) center center no-repeat;
}

#summary img {
  max-width: 250px;
}