<div class="palm-page-header fixed">
  <div class="palm-page-header-wrapper">
    <div id="header" class="center truncating-text">Google</div>
  </div>
</div>
<div class="palm-menu-spacer"></div>

<div class="palm-group">
  <div id="email-label" class="palm-group-title" x-mojo-loc=''></div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
        <div class="title">
          <div id="email" x-mojo-element="TextField"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="palm-group">
  <div id="password-label" class="palm-group-title" x-mojo-loc=''></div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
        <div class="title">
          <div id="password" x-mojo-element="PasswordField"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="palm-inline-error" style="display:none" id="login-failure">
	<div id="error-message" class="error-message"></div>
</div>

<div x-mojo-element="Button" id="login"></div>
